<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<%= image_tag "subjectbg.jpg", class: "subimg" %>

<div class="assignmentdesc" style="position: relative; text-align: center;">
  <h2>Title :</h2>
  <h1>code :</h1>
</div>

<body>

<div class="container">
<tabs>
  <ul class="nav nav-tabs" style="margin-bottom: 10px; margin-top: 40px;">
        <li class="active"><a data-toggle="tab" href="#menu1">Assignment</a></li>
        <li><a data-toggle="tab" href="#menu2">Announcement</a></li>
        <li><a data-toggle="tab" href="#menu3">Study Materials</a></li>
  </ul>
</tabs>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
            <%@assignments.each do |assignment|%>
              <div class="panel panel-default">
                <div class="panel-heading">Assignment_<%= assignment.title %> 
                    <div style="float:right;"> Due Date_<%= assignment.try(:submission_end_date).try(:strftime, "%d/%m/%Y")%>
                    </div>
                </div>
                <div class="panel-body"><%= link_to "#{assignment.attachment}", assignment.attachment_url, target: "blank"%>
                  <div class="answer-btn", style="float:right;">
                    <%= link_to "Open", "#", class: "btn btn-success"%>
                    <%= render partial: "answers/form", locals: {assignment_id: assignment.id}%>
                  </div>
                </div>
              </div>
            <%end%>
    </div>

    <div id="menu2" class="tab-pane fade">
              <% @announcements.each do |announcement|%>
          <div class="panel panel-default">
              <div class="panel-heading">Announcement !!!<%= announcement.title %></div>
              <div class="panel-body"><%= announcement.description%></div>
              <%end%>
          </div>
    </div>

    <div id="menu3" class="tab-pane fade">

      <div id="home" class="tab-pane fade in active">
            <% @materials.each do |material|%>
              <div class="panel panel-default">
                <div class="panel-heading">Study Material <%= material.title %></div>
                  <div class="panel-body"><%= link_to "#{material.title}"%></div>
                  </div>
            <%end%>
      </div> 
    </div>
  </div>
</div>

</body>





















<!--   <div class="container" style="width: 75%">

    <%= image_tag "subjectbg.jpg"%>

  <h3>Subject</h3>

<div class="well">
  <strong><%= @student_subject.subject.try(:title)%></strong></br>
    <div clas="well">
      <%= current_user.email%>
    <hr>
      <div class="well">
        <% @materials.each do |material|%>
        <div class="well">
          <%= current_user.email%><br>
          <%= link_to "#{material.title}", material.attachment_url %></br>
        </div>
        <%end%>
      </div>
    </div>
      <hr>
    <div class="well">
      <%= current_user.email%>
    <hr>
      <div class="well">
        <h3>Assignments</h3>
        <%@assignments.each do |assignment|%>
          <%= link_to "#{assignment.title}", assignment.attachment_url%></br>
          <%= render partial: "answers/form", locals: {assignment_id: assignment.id}%>
          <% assignment.answers.each do |answer|%>
            <%= answer.attachment.url%>
          <%end%>
        <%end%>
      </div>
    </div>
      <hr>
    <div class="well">
      <%= current_user.email%>
    <hr> 
      <div class="well">
        <h3>Announcement !!!</h3>
        <% @announcements.each do |announcement|%>
          <%= announcement.description%>
        <% end %>
      </div>
    </div>
      <hr>
</div>  
</div> 



<div class="col-lg-12 col-sm-12">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="/assets/subject.jpeg">
        </div>
        <div class="useravatar">
            <img alt="" src="http://lorempixel.com/100/100/people/9/">
        </div>
        <div class="card-info"> <span class="card-title">Pamela Anderson</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="..." style="position: fixed;left: 0px;top: 0px;margin-top: 215px;padding: 15px;}">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Stream</div>
            </button>
            <div class="well">
        <% @materials.each do |material|%>
        <div class="well">
          <%= current_user.email%><br>
          <%= link_to "#{material.title}", material.attachment_url %></br>
        </div>
        <%end%>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <div class="hidden-xs">About</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs">Classmates</div>
            </button>
        </div>
    </div>

        <div class="well" style="padding-top: 60px;">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>
        <div class="tab-pane fade in" id="tab3">
          <h3>This is tab 3</h3>
        </div>
      </div>
    </div>
    
    </div>
            
    <script type="text/javascript">
    	$(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below 
    $(this).removeClass("btn-default").addClass("btn-primary");   
});
});
    </script> -->