<div class="panel-body">
  <%= form_for :course, url:{:action => 'create'} do |f| %>

    <%= f.select :title,
      Course.all.map { |c| [c.title, c.id] },
               { include_blank: true },
               { class: 'chosen-select' }%>

    <%= f.fields_for :subjects do |s|%>
      <%= f.select :title,
      Subject.all.map { |s| [s.title, s.id] },
               { include_blank: true },
               { multiple: true, class: 'chosen-select' }%>
    <%end%>
    <div class="action">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <%end%>
</div>