<%= form_for :material, url: lecturer_subject_materials_path(lecturer_subject_id: @lecturer_subject.id),html: { multipart: true } do |f| %>
  <div class="well", style="width:50%; height: 300px; margin: 0 auto; text-align:center; margin-top:100px;" >
    <div class="form-group", style="width:50%; height: 300px; margin: 0 auto; text-align:center; margin-top:10px;">
      <h3 class="head", style="margin-top:10px;">Add Study Materials</h3>
      <%= f.label :Title, style:"float:left; font-size: 16px; font-family: san-serif" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Short description", style:"width:100%; height:40px;"%>
      <div class="form-group">
        <%= f.label :Attachment , style:"float:left; margin-top:20px; font-size: 16px; font-family: san-serif"%>
        <%= f.file_field :attachment, style:"height:30px;"%>
      </div>
      <div class="subject-button" style="margin-top: 25px;">
        <%= f.submit "Post Materials", class: "btn btn-info"%>
      </div>
    </div>
  </div>
<% end %>

